USE [master]
GO
/****** Объект:  Database [Task5]    Дата создания скрипта: 28.05.2026 18:13:14 ******/ 
CREATE DATABASE [Task5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Task5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Task5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Task5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Task5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Task5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Task5]
GO
/****** Объект:  Table [dbo].[Car]    Дата создания скрипта: 28.05.2026 18:13:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[CarBramd] [nvarchar](100) NOT NULL,
	[CarModel] [nvarchar](100) NOT NULL,
	[OwnerID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OwnerCar]    Дата создания скрипта: 28.05.2026 18:13:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerCar](
	[OwnerID] [uniqueidentifier] NOT NULL,
	[OwnerName] [nvarchar](100) NOT NULL,
	[OwnerSurname] [nvarchar](100) NOT NULL,
	[OwnerPatronymic] [nvarchar](100) NOT NULL,
	[OwnerPassport] [nvarchar](10) NOT NULL,
	[Fine] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OwnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Stickers]    Дата создания скрипта: 28.05.2026 18:13:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stickers](
	[StickerID] [int] IDENTITY(1,1) NOT NULL,
	[StickerName] [nvarchar](100) NOT NULL,
	[CarID] [int] NULL,
	[Discription] [nvarchar](2000) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[PublictionDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StickerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Subscriptions]    Дата создания скрипта: 28.05.2026 18:13:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[SubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[StickerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 28.05.2026 18:13:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OwnerCar] ADD  DEFAULT (newid()) FOR [OwnerID]
GO
ALTER TABLE [dbo].[Stickers] ADD  DEFAULT (getdate()) FOR [PublictionDate]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([OwnerID])
REFERENCES [dbo].[OwnerCar] ([OwnerID])
GO
ALTER TABLE [dbo].[Stickers]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarID])
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD FOREIGN KEY([StickerID])
REFERENCES [dbo].[Stickers] ([StickerID])
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
